body
  background-color #fafafa
  margin 0
  font-family Helvetica
  
h1, h2, h3, h4, h5, h6
  margin 0

/* Wrapper that contains both sidebar and the main photo section */
.container
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  
  .collection-header
    background-color #000
    
    h2
      text-align center
      padding 10px 0 10px 0
      color #FFF
  
  /* sidebar styles */
  .sidebar
    width 20%
    background-color white
    position fixed
    top 0
    bottom 0

    /* view collection button */
    .view-collection
      float right
      margin-top -28px
      margin-right 10px
    
    ul
      margin 0
      padding 0

    /* styles for each item in the sidebar */
    li
      list-style none
      border-bottom 1px solid #d0d0d0
      
      h3  
        margin 14px 0 10px 20px
    
    
  /* main photo section styles */
  .main
    background-color orange
    width 80%
    position fixed
    right 0
    top 0
    bottom 0

    /* collection title */
    .current-collection-title
      text-align center









