body
  background-color #FAFAFA
  margin 0
  font-family Helvetica
  color #5F505B
  
h1, h2, h3, h4, h5, h6
  margin 0
  
button, input[type=submit]
  cursor pointer
  color white
  border-radius 4px
  background #398999
  border none
  padding 5px
  font-size 12px

/* Wrapper that contains both sidebar and the main photo section */
.container
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  
  .collection-header
    background-color #5F505B
    
    h2
      text-align center
      padding 10px 0 10px 0
      color #FAFAFA
  
  /* sidebar styles */
  .sidebar
    width 20%
    background-color #F5EAD8
    position fixed
    top 0
    bottom 0

    /* view collection button */
    .view-collection
      float right
      margin-top -33px
      margin-right 10px
    
    ul
      margin 0
      padding 0

    /* styles for each item in the sidebar */
    li
      list-style none
      border-bottom 1px solid #D0D0D0
      
      h3  
        margin 14px 0 10px 20px
        max-width 74%
    
    .add-collection
      
      h3
        text-align center
        padding 10px 0 0 0 
      
      img
        width 50px
        display block
        margin 0 auto
        cursor pointer
    
  /* main photo section styles */
  .main
    background-color #D8DFCF
    width 80%
    position fixed
    right 0
    top 0
    bottom 0
    overflow scroll

    /* collection title */
    .current-collection-title
      text-align center
      margin 20px 0 0 0
      
    .photo-numbers
      text-align center
      margin 10px 0 0 0
      
    .delete-collection
      display block
      margin 10px auto
      
    /* photo wrapper div */
    .photo-wrapper
      text-align center

    .photo
      display inline-block
      margin 5px
      
      img
        border-radius 2px
    
      .photo-title
        display block
        position relative
        text-decoration none
        font-size 20px
        text-align left
      
      .photo-to-collection
        display block
        margin 5px 0 5px 0
        
      .remove-photo
        display block
                
  /* modal styles */
  #modal
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(0,0,0,0.4)
  
  .hide
    display none !important

  /* inner window for the modal */
  .inner
    width 50%
    margin -50px 0 0 -15%
    text-align center
    background-color #FFF
    height auto
    position absolute
    top 30%
    left 50%
    border-radius 3px
    
    h2
      margin 10px 0 10px 0
  
    .cancel
      margin 0 0 10px 0
      
    .add-photo
      display block
      margin 10px auto

    .photo-preview
      width 100px
      height 100px
      margin 0 0 20px 0
  
    .collection-create    
      margin 10px 0 20px 0
    
    .collection-form
      margin 10px 0 10px 0
      
    .yes
      margin 0 0 10px 0
