<div class="container">

  <!-- sidebar directive -->
  <sidebar></sidebar>

  <section class="main">
    <h2 class="current-collection-title">{{vm.currentCollection.title}}</h2>
    <h4 class="photo-numbers">Number of photos : {{vm.currentCollection.photos.length}}</h4>
    <button class="delete-collection" ng-click="vm.showModal('deleteCollection')" ng-if="vm.currentCollection.id !== 0">Delete this Collection</button>
    <div class="photo-wrapper">
      <div class="photo" ng-repeat="photo in vm.currentCollection.photos">
        <img ng-src="{{photo.src}}">
        <h6 href="#" class="photo-title">{{photo.title}}</h6>
        <button class="photo-to-collection" ng-click="vm.photoModal(photo.id)">Add this Photo to Another Collection</button>
        <button class="remove-photo" ng-click="vm.removePhoto(photo.id)">Remove photo from collection</button>
      </div>
    </div>

    <!-- Modal directive -->
    <modal></modal>

  </section>
</div>
